{% extends 'base.html' %}

{% block title %}{{ stage.name }} - Levels{% endblock %}

{% block breadcrumb %}
    <a class="breadcrumb-item" href="{% url 'stages' %}">Home</a>
    <a class="breadcrumb-item" href="{% url 'stages' %}">Stages</a>
    <span class="breadcrumb-item active">{{ stage.name }}</span>
{% endblock %}

{% block content %}
<div class="row">
    <h2>{{ stage.name }}</h2>
</div>
<div class="row">
    <div class="card-group">
        {% for level in levels %}
        <a href="{% url 'task' id=level.id %}" class="card{% if level in solved_levels %} solved{% endif %}">
            <div class="card-block">
            <h4 class="card-title">{{ level.title }}</h4>
            <p class="card-text">{{ level.description }}</p>
          </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}